<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>INDEX</h1>
    <%- include('./partials/partial.ejs') %>

    <h1>array in backend forEach function in front end</h1>

     <% if (listy.length>0){ %>
        <% listy.forEach(function(item){ %>
            <h1><%= item  %></h1>  
    <% })} %>

</body>
</html>